/* PAGE PREGUNTAS FRECUENTES */
.seccion-preguntas{
    @extend %secciones;
    background-color: $colorBackground;
    
    h2{
        @extend %subtitulo;
    }
    
    .accordion-collapse{
        padding: 1rem;
    }
}

.banner-preguntasFrecuentes{
    @extend %parallax;
    background-image: url("../img/banner-preguntas.jpg");
    height: 70vh;
    padding: 8rem 0;

    a{
        @extend %enlace, %boton;
    }

}

/* MEDIA QUERYS PAGE PREGUNTAS FRECUENTES */
/* Page Preguntas -Mobile */
@media only screen and (max-width: 500px){

    .seccion-preguntas{
        padding: $padding-section-mobile;

        h2{
            font-size: $font-size-h2-mobile;
        }

        .accordion-button{
            font-size: $font-size-p-mobile;
        }

        .accordion-collapse{
            font-size: $font-size-p-mobile;
        }
    }

    .banner-preguntasFrecuentes{

        background-position: 0 20px;
        padding: 12rem 0;

        a{
            font-size: $font-size-a-mobile;
            padding: $padding-a-mobile;
            border-radius: $border-radius-a-mobile;
        }
    }
}


/* Page Preguntas - Tablet */
@media only screen and (min-width: 501px) and (max-width: 968px){

    .seccion-preguntas{
        padding: $padding-section-tablet;

        h2{
            font-size: $font-size-h2-tablet;
            padding-bottom: $padding-botom-h2-tablet;
        }

        .accordion-button{
            font-size: $font-size-p-tablet;
        }

        .accordion-collapse{
            font-size: $font-size-p-tablet;
        }
    }

    .banner-preguntasFrecuentes{
        background-position: 0 80px;
        padding: 5rem 0;
      
        a{
            font-size: $font-size-a-tablet;
            padding: $padding-a-tablet;
            border-radius: $border-radius-a-tablet;
        }
    }
}
