.seccion-preguntas{
    @extend %secciones;
    background-color: $colorBackground;
    
    h2{
        @extend %subtitulo;
    }
    
    .accordion-collapse{
        padding: 1rem;
    }
}

.banner-preguntasFrecuentes{
    @extend %parallax;
    background-image: url("../img/contactanos.jpg");
    height: 90vh;

    h2{
        @extend %subtitulo;
        color: $colorPrincipal;
      /*   padding-top: 5rem; */
        font-size: 4rem;
    }

    a{
        @extend %enlace, %boton;
    }

}


/* Mobile */
@media only screen and (max-width: 500px){

    .seccion-preguntas{
        padding: $padding-section-mobile;

        h2{
            font-size: $font-size-h2-mobile;
        }

        .accordion-button{
            font-size: $font-size-p-mobile;
        }

        .accordion-collapse{
            font-size: $font-size-p-mobile;
        }

    }

    .banner-preguntasFrecuentes{
        height: 80vh;
        
        h2{
            font-size: $font-size-h2-mobile;
            font-weight: bolder;
        }

        a{
            font-size: $font-size-a-mobile;
            padding: $padding-a-mobile;
            border-radius: $border-radius-a-mobile;
        }
    }
}