 /* PAGE Nosotros */
 .seccion-Nosotros{
  @extend %secciones;

    h2{
      @extend %subtitulo;
    }

}

/* MEDIA QUERYS - PAGE NOSOTROS */

/* Page Nosotros -Mobile */
@media only screen and (max-width: 500px){
  .seccion-Nosotros{
    padding: $padding-section-mobile;

    h2{
      font-size: $font-size-h2-mobile;
      padding: 1rem;
    }

    h3{
      font-size: $font-size-h3-mobile;
    }

    p{
      font-size: $font-size-p-mobile;
    }
  }
}



/* PAge Nosotros -Tablet */
@media only screen and (min-width: 501px) and (max-width: 968px){
  .seccion-Nosotros{
    padding: $padding-section-tablet;

    h2{
      font-size: $font-size-h2-tablet;
      padding-bottom: $padding-botom-h2-tablet;
    }

    h3{
      font-size: $font-size-h3-tablet;
    }

    p{
      font-size: $font-size-p-tablet;
    }
  }
}




