.seccion-preguntas{
    @extend %secciones;
    background-color: $colorBackground;
    
    h2{
        @extend %subtitulo;
    }
}

.banner-preguntasFrecuentes{
    @extend %parallax;
    background-image: url("../img/contactanos.jpg");
    height: 90vh;

    h2{
        @extend %subtitulo;
        color: $colorPrincipal;
        padding-top: 5rem;
        font-size: 4rem;
    }

    a{
        @extend %enlace, %boton;
    }

}


/* Mobile */
@media only screen and (max-width: 500px){
    /* Banner-PreguntasFrecuentes */
    .banner-preguntasFrecuentes{
        h2{
            font-size: 2rem;
        }
    }
}