$color-Header-Footer: rgb(26, 117, 188);
$colorPrincipal: rgb(255, 255, 255);
$colorSecundario: rgb(0, 128, 255);
$colorBackground:rgb(240, 240, 240);

$gap-Secciones:2rem;
$gap-SeccionDestino: 3rem;
$gap-articulosDestinos: 2rem;

$padding-footer: 1rem;

/* movile */
$padding-section-mobile: 2rem;
$font-size-h2-mobile: 1.5rem;
$padding-botom-h2-mobile: 1rem;
$font-size-h3-mobile: 1rem;
$font-size-p-mobile: .8rem;
$padding-a-mobile: .5rem;
$border-radius-a-mobile: 10px;
$font-size-a-mobile:.8rem;
$gap-SeccionDestino-mobile: 2rem;
