$color-Header-Footer: rgb(26, 117, 188);
$colorPrincipal: rgb(255, 255, 255);
$colorSecundario: rgb(0, 128, 255);
$colorBackground:rgb(240, 240, 240);

$gap-Secciones:2rem;
$gap-SeccionDestino: 3rem;
$gap-articulosDestinos: 2rem;

$padding-footer: 1rem;
