$color-Header-Footer: rgb(26, 117, 188);
$colorPrincipal: rgb(255, 255, 255);
$colorSecundario: rgb(0, 128, 255);
$colorBackground:rgb(240, 240, 240);

$gap-Secciones:2rem;
$gap-SeccionDestino: 3rem;
$gap-articulosDestinos: 2rem;

$padding-footer: 1rem;

$padding-section-mobile: 2rem;
$font-size-h2-mobile: 1.5rem;
$padding-botom-h2-mobile: .5rem;
$font-size-h3-mobile: .9rem;
$font-size-p-mobile: .6rem;
$padding-a-mobile: .5rem;
$border-radius-a-mobile: 10px;
$font-size-a-mobile:.8rem;
$gap-SeccionDestino-mobile: 2rem;
$gap-articuloDestino-mobile: .7rem;

$padding-section-tablet: 3rem;
$font-size-h2-tablet: 2rem;
$padding-botom-h2-tablet: .8rem;
$font-size-h3-tablet: 1.1rem;
$font-size-p-tablet: .8rem;
$font-size-a-tablet: 1rem;
$padding-a-tablet: .7rem;
$border-radius-a-tablet: 10px;
$gap-seccionDestino-tablet: 1.5rem;
$gap-articuloDestino-tablet: 1rem;